.task-title {
    font-weight: bold;
}

.task-result {
    font-size  : 24px;
    font-weight: bolder;
    color      : green;
}

.access-denied {
    font-size  : 24px;
    font-weight: bolder;
    color      : red;
}